---
layout: default
title: Home
---

{% for post in site.posts %}
    <div class="post" {% if post.rtl %}dir="rtl"{% endif %}>
        <h1 class="title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h1>
        <date class="date">{{ post.date | date: "%B %d, %Y" }}</date>

        {% if post.image %}
            <p><img class="img-responsive" src="{{ site.url }}/{{ post.image }}" alt="{{ page.title }}"></p>
        {% endif %}

        {{ post.content }}
        <a href="{{ post.url }}">[Post permalink]</a>
    </div>
    <hr width="50%" align="center">
    <br>
{% endfor %}