<a class="share-button" href="https://www.facebook.com/sharer/sharer.php?u={{ site.production_url }}{{ page.url }}" target="_blank">
    <img src="/assets/img/social/facebook.png">
</a>
<a class="share-button" href="https://twitter.com/intent/tweet?source={{ site.production_url }}{{ page.url }}&text={{ page.title | escape }}: {{ site.production_url }}{{ page.url }}&via={{site.author.social.twitter}}" target="_blank" title="Tweet">
    <img src="/assets/img/social/twitter.png">
</a>
<a class="share-button" href="https://plus.google.com/share?url={{ site.production_url }}{{ page.url }}" target="_blank" title="Share on Google+">
    <img src="/assets/img/social/googleplus.png">
</a>
<a class="share-button" href="mailto:?subject={{ page.title | escape }}&body={{ page.content | strip_html }}: {{ site.production_url }}{{ page.url }}" target="_blank" title="Email">
    <img src="/assets/img/social/email.png">
</a>
