---
layout: default
title: Blog
---

{% for post in site.posts %}
    {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}

    <div id="{% if thecycle == 'odd' %}grey{% else %}white{% endif %}">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <p><img src="/assets/img/profile.jpg" width="50px" height="50px" class="img-circle"> <ba>{{ site.author.name }}</ba></p>
                <p><bd>{{ post.date | date: "%B %d, %Y" }}</bd></p>
                <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a>
                {% if post.image %}
                    <p><img class="img-responsive" src="{{ site.url }}/images/{{ post.image }}" alt="{{ page.title }}"></p>
                {% endif %}

                {% if post.excerpt %}
                    {{ post.excerpt }}
                {% else %}
                    {{ post.content }}
                {% endif %}
                <p><a href="{{ post.url }}">Continue reading..</a></p>
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->

    </div>
{% endfor %}