---
layout: default
title: Work
---

<div class="container pt work">

    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3>MY WORK</h3>
            <hr>
        </div>
    </div>

    <div class="row mt centered">
        <div class="row mt centered">
        {% assign counter = 1 %}
        {% assign projects = site.pages | sort:"name" %}
        {% for item in projects %}
            {% if item.url contains '/work/' and item.url != '/work/index.html' %}
                {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
                <div class="col-lg-5 {% if thecycle == 'odd' %}col-lg-offset-1{%endif%}">
                    <a class="zoom green" href="{{ item.url }}"><img class="img-responsive" src="{{ item.images | first }}" alt="" /></a>
                    <p>{{item.title}}</p>
                </div>
                {% if thecycle == 'even' %}
                    </div>
                    <div class="row mt centered">
                {% endif %}
            {% endif %}
        {% endfor %}
        </div>
    </div><!-- /row -->

</div><!-- /container -->