---
layout: default
---

    <div>
        <h3>{{ page.title }}</h3>
        <p>{{ page.content }}</p>
    </div>

    {% if page.company or page.date or page.type or page.technologies %}
        <table border="0" cellpadding="8">
            {% if page.company %}<tr><th align="right">Company:</th><td></td><td align="left">{{ page.company }}</td></tr>{% endif %}
            {% if page.date %}<tr><th align="right">Project date:</th><td></td><td align="left">{{ page.date }}</td></tr>{% endif %}
            {% if page.type %}<tr><th align="right">Type:</th><td></td><td align="left">{{ page.type }}</td></tr>{% endif %}
            {% if page.technologies %}<tr><th align="right">Technologies:</th><td></td><td align="left">{{ page.technologies }}</td></tr>{% endif %}
        </table>
    {% endif %}

    {% if page.images %}
        <div>
            {% for image in page.images %}
                <p><img class="img-responsive img-rounded" src="{{ image }}"></p>
            {% endfor %}
        </div>
    {% endif %}
</div>