---
layout: default
---

    <div>
        <h3>{{ page.title }}</h3>
        <p>{{ page.content }}</p>
    </div>

    {% if page.company or page.client or page.date or page.type or page.technologies %}
        <dl>
            {% if page.company %}
                <dt>Company:</dt>
                <dd>{{ page.company }}</dd>
            {% endif %}
            {% if page.client %}
                <dt>Client:</dt>
                <dd>{{ page.client }}</dd>
            {% endif %}
            {% if page.date %}
                <dt>Project date:</dt>
                <dd>{{ page.date }}</dd>
            {% endif %}
            {% if page.type %}
                <dt>Type:</dt>
                <dd>{{ page.type }}</dd>
            {% endif %}
            {% if page.technologies %}
                <dt>Technologies:</dt>
                <dd>{{ page.technologies }}</dd>
            {% endif %}
        </dl>
    {% endif %}

    {% if page.images %}
        <div>
            {% for image in page.images %}
                <p><img class="img-responsive img-rounded" src="{{ image }}"></p>
            {% endfor %}
        </div>
    {% endif %}
</div>