---
layout: default
---

    <div>
        <h3>{{ page.title }}</h3>
        <p>{{ page.content }}</p>
    </div>

    {% if page.company or page.client or page.date or page.type or page.technologies %}
        <dl>
            {% if page.company %}<dl><dt align="right">Company:</dt><dd align="left">{{ page.company }}</dd></dl>{% endif %}
            {% if page.client %}<dl><dt align="right">Client:</dt><dd align="left">{{ page.client }}</dd></dl>{% endif %}
            {% if page.date %}<dl><dt align="right">Project date:</dt><dd align="left">{{ page.date }}</dd></dl>{% endif %}
            {% if page.type %}<dl><dt align="right">Type:</dt><dd align="left">{{ page.type }}</dd></dl>{% endif %}
            {% if page.technologies %}<dl><dt align="right">Technologies:</dt><dd align="left">{{ page.technologies }}</dd></dl>{% endif %}
        </dl>
    {% endif %}

    {% if page.images %}
        <div>
            {% for image in page.images %}
                <p><img class="img-responsive img-rounded" src="{{ image }}"></p>
            {% endfor %}
        </div>
    {% endif %}
</div>